@import url('https://fonts.googleapis.com/css?family=Rochester');

* {
    margin: 0;
    padding: 0;
    outline: none;
}
a{
    color: #000;
}
a:active {
    color: #000; /* Цвет активной ссылки */
}

body {
    background: linear-gradient(40deg, #D999B9, #B8B3E9, #8DD0D6, #5CDBDB) no-repeat fixed;
}

.container {
    width: 902px;
    min-width: 700px;
    height: 790px;
    margin: 0 auto;
}

/* Шапка */
.header {
    width: 860px;
    height: 80px;
    background: #cfe2f3;
    padding: 20px;
    margin: 0 auto 30px;
    border: 1px solid;
    border-radius: 3px;
    margin-top: 40px;
}

.online_for,
.local_time,
.edit_pers,
.privat_mes {
    float: left;
    clear: both;
}

.head_h4 {
    float: right;
    font-family: 'Rochester', cursive;
    font-size: 50px;
    color: #666;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: -55px;

}

.edit_pers {
    margin-top: 10px;
}

/* end header*/

.__login{
    float: left;
    margin: 8px 0 0 15px;
    max-width: 105px;
}
/* left_bar */
.left_bar {
    width: 28%;
    height: 500px;
    background: #cfe2f3;
    float: left;
    border: 1px solid;
    border-radius: 3px;
}

.list_user {
    height: 430px;
    margin: 13px;
    padding: 10px 0 10px 10px;
    border: 1px solid;
    border-radius: 3px;
    background: #efefef;
    clear: both;
    overflow-x: auto;
}

.list_user ul {
    list-style: none;
}

.list_user li {
    margin-bottom: 3px;
}

.list_user li:hover {
    text-decoration: underline;
}

.online {
    margin: 8px 0 -10px 156px;
    position: absolute;
    /*margin: 8px 0 -10px 25px;*/
    /*float: left;*/
}

.user {
    text-decoration: none;
}

.addUser {
    float: right;
    margin: 8px 15px 0;
    cursor: pointer;
}

/* end left_bar */

.main {
    width: 70%;
    height: 640px;
    float: right;
}

/*head tags*/

.tab-container {
    width: 100%;
    float: right;
    /*border: 1px solid;*/
}

/* tabs_cont */
.main_cont {
    width: 96%;
    height: 305px;
    padding: 2%;
    border: 1px solid;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #cfe2f3;
    position: relative;
}

.wrap-tabs {
    max-height: 27px;
}

.main_menu {
    margin-left: 14px;
}

.tabs {
    margin: 0;
    padding-left: 10px;
    list-style-type: none;
    line-height: 33px;
    max-height: 28px;
    overflow: hidden;
    width: 100%;
    max-width: 720px;
    font-size: 14px;
    display: inline-block;
}

.tabs li a {
    position: relative;
    top: 0;
    left: 0;
    float: left;
    height: 180px;
    width: 100px;
    margin: 0 -28px 0;
    border-top-right-radius: 25px 170px;
    border-top-left-radius: 20px 90px;
    padding: 0 25px 0 15px;
    background: #cfe2f3;
    color: #1a1a1a;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.tabs li {
    display: inline-block;
    float: left;
}

.tabs li a:hover {
    background: #efefef;
}

.ion-close-circled {
    position: absolute;
    top: -2px;
    right: 22px;
    color: #9a9a9a;
    font-size: 15px;
    font-weight: bold;
    border-radius: 100%;
    clear: both;
}

.ion-close-circled:hover {
    color: #cc3333;
}

.tabs li a.active {
    background: #cfe2f3;
    z-index: 888;
    border: 1px solid;
}

/* ---- end --- >*/

.editor{
    height: 96px;
    width: 600px;
    padding: 15px;
    border: 1px solid;
    border-radius: 3px;
    resize: none;
    background: #cfe2f3;
}



textarea {
    height: 96px;
    width: 600px;
    padding: 15px;
    border: 1px solid;
    border-radius: 3px;
    resize: none;
    background: #cfe2f3;
}

/* footer */
.info {
    float: left;
    margin: 15px;
}

.info ul {
    list-style: none;
}

.toolbar {
    float: left;
    padding-top: 15px;
    cursor: pointer;
    margin-left: 10%;
}


.btn {
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    background: #fff;
    padding: 7px 14px;
}

.form_active, .btn:hover, btn:focus {
    background: #cfe2f3;
}

.btn:hover:after{
    content: attr(data-title);
    font-style: italic;
}

.button {
    float: right;
    width: 111px;
    height: 30px;
    margin-top: 15px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    background: #cfe2f3;
}

.button:hover {
    background: #fff;
}










